//- content structure
#content
    #start-floating-secret-input-button-section
        include ../floatingsecretmodule/startinputbutton.pug
    #secret-space-display-section
        include ../secretspacedisplaymodule/secretspacedisplay.pug