//- content structure
#content
    include ../inputchoicesectionmodule/inputchoicesection.pug
    //- #start-floating-secret-input-button-section
    //-     include ../floatingsecretmodule/startinputbutton.pug
    //- #secret-space-display-section
    //-     include ../secretspacedisplaymodule/secretspacedisplay.pug