//- popup structure
.popupframe
    .click-catcher
    .popup
        .popup-cancel-button
            .click-button: svg: use(href="#svg-cross-icon")
        block content
        .popup-accept-button
            .click-button Go!

