//- footer structure
#footer
    a.click-button(href="https://t.me/SecretsCockpitUI"): svg#telegram-button: use(href="#svg-telegram-icon") 
    a.click-button(href="https://github.com/JhonnyJason/secret-cockpit"): svg#github-button: use(href="#svg-github-icon")