// footer styles
bar-icon-size ?= 33px
bar-icon-padding ?= 7px
bar-height ?= bar-icon-size + 2 * bar-icon-padding

#footer
    background-color element-background 
    padding bar-icon-padding
    position fixed
    bottom 0
    left 0
    width 100%
    box-sizing: border-box
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center

    .click-button
        border-radius: 20%
        margin-left 20px

#github-button
    width bar-icon-size
    height bar-icon-size

#telegram-button
    width bar-icon-size
    height bar-icon-size

// #footer
//     a.click-button(href="https://github.com/JhonnyJason/pool-swap-ui"): svg#github-button: use(href="#svg-github-icon")
