// aliaspage styles
#hidden-alias-template
    display none

.alias
    padding 20px 10px
    background-color alpha(cd-background,0.8)
    border 2px solid cd-foreground
    margin-bottom 12px
    border-radius: 7px

    .alias-id
        overflow hidden
        text-overflow: ellipsis
    
    .alias-label
        background-color: element-background
        padding 7px 7px 7px 7px

#aliaspage-content
    padding-bottom 40px
