//- addaliaspopup structure
extends ../popupmodule/popup.pug
block content
    #addalias-popup
        h2 Add Alias
        p#add-alias-id-line(contenteditable)
        p#add-alias-line(contenteditable)