// settingspage styles
unsafe-input-button-size = 50px

#unsafeinputpage-content
    input
        margin-top: 0
    h2
        margin-top: 5px
        margin-bottom: 5px

    p 
        background-color alpha(cd-background,0.8)
        padding 30px 10px
        margin-top 150px

#unsafe-id-line 
    @extends input
    background-color alpha(cd-background,0.2)
    overflow hidden

#unsafe-input-button-container
    display flex
    justify-content: space-around
    max-width: 260px
    margin auto
    margin-top 30px
    svg 
        height: unsafe-input-button-size
        width unsafe-input-button-size
        padding 20px