//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #unsafeinputpage-content        
        h2 Unsafe Key Input
        input#unsafe-key-input(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
        h2 Corresponding ID
        #unsafe-id-line
        #unsafe-input-button-container
            #scan-qr-button.click-button: svg: use(href="#svg-qrscan-icon")
            #create-unsafe-button.click-button: svg: use(href="#svg-add-icon")
            
        p Unsafe Keys are called "unsafe" because they are stored on your device. This means they can be used conveniently also you may easily export and import them by copy-pasting or by using QR-codes.