// secretspacepage styles
id-handle-button-size = 25px

#subspacepage-content
    overflow: hidden
    box-sizing border-box
    // all svgs are buttons

#shared-secrets-container
    padding top-bottom-container-padding elements-side-paddings elements-to-add-button-gap elements-side-paddings
    .delete-secret-button
        display: none
    .edit-secret-button
        display none

#secretspacepage-details
    border-top: solid 2px cd-foreground
    padding 10px 10px 50px 10px

#shared-from-id-section,
#shared-to-id-section
    background-color: alpha(cd-background, 0.8)
    padding 12px
    svg
        width id-handle-button-size
        height: id-handle-button-size
    .click-button
        padding 7px


#shared-from-id-line,
#shared-to-id-line
    padding-bottom 12px
    overflow hidden
    text-overflow: ellipsis

#shared-from-id-handle-line,
#shared-to-id-handle-line
    display flex
    justify-content: space-around
    max-width: 320px
    margin auto

#copy-shared-from-id-button,
#copy-shared-to-id-button
    margin-left auto
