// messagebox styles
#messagebox
    padding 12px
    box-sizing: border-box
    width 80%
    background-color element-background 
    border-radius  10px 10px 0 0
    position fixed
    bottom 0
    left 10%
    transition all 0.5s
    z-index 555
    word-wrap: break-word
    
#messagebox.gone
    transform translateY(50px)
    opacity: 0

#messagebox.error
    background-color red 
    color black
    font-weight: bold
