//- inputchoicesection structure
#inputchoicesection.content
    #input-button-container
        #input-unsafe-button.click-button: svg: use(href="#svg-text-icon")
        #input-floating-button.click-button: svg: use(href="#svg-code-icon")
        #input-signature-button.click-button: svg: use(href="#svg-metamask-icon")