// inputchoicesection styles
input-button-size = 50px

#inputchoicesection
    margin-bottom 40px

#input-button-container
    margin-top 30px
    display flex
    justify-content: space-around
    
    svg
        height input-button-size
        width: input-button-size
        padding 20px
    
    .click-button
        border: solid 2px cd-foreground
        color: cd-foreground
        border-radius: 20px
        