//- editsecretpopup structure
extends ../popupmodule/popup.pug
block content
    #editsecret-popup
        h2 Edit Secret
        p#edit-secret-id-line(contenteditable) secretId
        p#edit-secret-line(contenteditable) secret