//- editsecretpopup structure
extends ../popupmodule/popup.pug
block content
    #editsecret-popup
        h2 Edit Secret
        p#edit-label-line(contenteditable) label
        p#edit-secret-line(contenteditable) secret