//- addsecretpopup structure
extends ../popupmodule/popup.pug
block content
    #addsecret-popup
        h2 Add Secret
        p#add-label-line(contenteditable)
        p#add-secret-line(contenteditable)