//- addsecretpopup structure
extends ../popupmodule/popup.pug
block content
    #storeunsafe-popup
        h2 Store Unsafe SecretKey with the ID 
        p#storeunsafe-id-line
        h2 By the Name
        p#storeunsafe-as-line(contenteditable)
        h2 In 
        #storeunsafe-options-container