// header styles
header-padding = 10px
settings-button-size = 33px

// header-logo-size = 45px
// #header-logo
//     width header-logo-size
//     height header-logo-size

#header
    background-color element-background 
    padding header-padding
    position fixed
    top 0
    left 0
    width 100%
    box-sizing: border-box
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    .click-button
        border-radius: 20%

#header-right
    margin-left: auto

#settings-button
    width settings-button-size
    height settings-button-size