// header styles
#header
    position fixed
    z-index 75
    top 0
    left 0
    overflow hidden
    height: header-height
    width: 100%
    box-sizing: border-box
    padding 15px
    display flex
    background-color rgba(255, 255, 255, 0.1)
    justify-content: space-between

#header-right  
    margin-left auto

#settings-icon
    height 50px
    width 50px
    color cd-bright

.click-button
    cursor pointer


