//- stioreidpopup structure
extends ../popupmodule/popup.pug
block content
    #storeid-popup
        h2 Store ID 
        p#storeid-line
        h2 By the Name
        p#storeid-as-line(contenteditable)
        h2 In 
        #storeid-options-container