// addsecretpopup styles
#storeid-popup
    h2
        padding-top 0
    p
        background-color element-background
        padding 5px
        box-sizing: border-box
        margin-bottom 3px
        overflow: hidden
        text-overflow: ellipsis
    