//- deletesecretpopup structure
extends ../popupmodule/popup.pug
block content
    #deletesecret-popup
        h2 Really delete this Secret?
        p#delete-secret-id-line
        p#delete-secret-line
