//- deletesecretpopup structure
extends ../popupmodule/popup.pug
block content
    #addsubspace-popup
        h2 Which Id shall have permissions to share secrets?
        input#addsubspace-id
        #easy-add-options-container