// deletesecretpopup styles
#addsubspace-popup
    overflow hidden
    max-height: 513px

    h2
        padding-top 0
    input
        background-color element-background
        padding 5px
        box-sizing: border-box
        margin-bottom 3px

#easy-add-options-container
    padding 7px 0
    overflow hidden
    overflow-y: auto
    max-height: 400px
