//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #floatinginputpage-content        
        h2 Floating Key Input
        input#floating-key-input(type="password")
        h2 Corresponding ID
        #floating-id-line

        p This is for keys generated from a strong seedphrase which never shall be saved anywhere. Because of this the only way is to type the seedphrase here and everywhere all over again :-).
