//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #floatinginputpage-content        
        h2 Floating Secrets Input
        input#floating-secret-input(type="password")
        h2 Corresponding ID
        #floating-id-line

        p This is for secrets generated from a strong seed which never shall be saved anywhere. Because of this the only way is to type the seed here.
