// settingspage styles
#floatinginputpage-content
    input
        margin-top: 0
    h2
        margin-top: 5px        
        margin-bottom: 5px

    p 
        background-color alpha(cd-background,0.8)
        padding 30px 10px
        margin-top 150px

#floating-id-line 
    @extends input
    background-color alpha(cd-background,0.2)
    overflow hidden
