include ../../settingspagemodule/settingspage.pug
include ../../unsafeinputpagemodule/unsafeinputpage.pug
include ../../floatinginputpagemodule/floatinginputpage.pug
include ../../signatureinputpagemodule/signatureinputpage.pug
include ../../secretspacepagemodule/secretspacepage.pug
include ../../subspacepagemodule/subspacepage.pug