// qrreader styles
#qrreader-background
    position absolute
    top 0
    left 0
    z-index:  299
    height 100vh
    width 100%
    transform: translateY(-102%)
    background-color element-background

    video
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)


#qrreader-background.active
    transform: translateY(0)


