// secretsdisplay styles

#hidden-clients-display-template
    display none

#secretsdisplay
    border-top: solid 2px cd-foreground
    padding 30px 10px


    .clients-display
        padding 20px
        border solid 2px cd-foreground
        border-radius 30px
        display flex
        align-content: center
        cursor pointer
        margin-bottom: 20px

    .clients-id-display
        width "calc(100% - %s)" % 33px
        overflow hidden
        text-overflow: ellipsis

    .clients-type-display
        margin-left: 10px
        svg
            width 20px
            height 20px

    .unsafe-type,
    .floating-type,
    .signature-type
        display none

    .unsafe
        .unsafe-type
            display block
    .floating
        .floating-type
            display block
    .signature
        .signature-type
            display block