//- sharesecretpopup structure
extends ../popupmodule/popup.pug
block content
    #sharesecret-popup
        h2 Share Secret having ID
        p#sharesecret-id-line
        h2 To
        input#sharesecret-to-id-line
        #sharesecret-options-container