//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #signatureinputpage-content        
        h2 Signature Key Input
        input#signature-key-input(type="text" value="I am a funny seed message :-)")
        h2 Corresponding ID
        #signature-id-line
        p NOT IMPLEMENTED YET!
        p This is for keys generated from a signed seed messsage. This way we let metamask handle the secrecy.