//- secretspacepage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #hidden-secret-template
        .secret(secret-id="{{secretId}}")
            p.secret-id {{secretId}}
            .secret-button-line
                .delete-secret-button.click-button: svg: use(href="#svg-trash-icon")
                .edit-secret-button.click-button:  svg: use(href="#svg-edit-icon")
                .copy-secret-button.click-button: svg: use(href="#svg-copy-icon")
                .store-secret-button.click-button: svg: use(href="#svg-store-icon")
                .share-secret-button.click-button: svg: use(href="#svg-share-icon")
    #hidden-subspace-template
        .subspace(subspace-id="{{subspaceId}}")
            .subspace-id.click-button {{subspaceLabel}}
            .delete-subspace-button.click-button: svg: use(href="#svg-trash-icon")

    #secretspacepage-content        
        h1 Secrets Space
        #secrets-container
        #add-secret-button-line
            #add-secret-button.click-button: svg: use(href="#svg-add-icon")
    
        #foreign-subspaces
            h2 Foreign Subspaces
            #subspaces-container
            #add-subspace-button-line
                #add-subspace-button.click-button: svg: use(href="#svg-add-icon")

        #secretspacepage-details
            h2 Id
            #id-section
                #id-line
                #id-handle-line
                    #secretspacepage-alias(contenteditable)
                    #copy-id-button.click-button: svg: use(href="#svg-copy-icon")
                    #qr-for-id-button.click-button: svg: use(href="#svg-qrcode-icon")
                    #store-id-button.click-button: svg: use(href="#svg-store-icon")
                
            h2 Secret Key
            #secret-key-section
                #secret-key-line
                #secret-key-handle-line
                    #secret-key-handle-type-display
                        #secret-key-handle-unsafe-icon: svg: use(href="#svg-text-icon")
                        #secret-key-handle-floating-icon: svg: use(href="#svg-code-icon")
                        #secret-key-handle-unsafe-label unsafe
                        #secret-key-handle-floating-label floating
                    //- #secret-key-handle-buttons
                    #copy-secret-key-button.click-button: svg: use(href="#svg-copy-icon")
                    #qr-for-secret-key-button.click-button: svg: use(href="#svg-qrcode-icon")
                    #store-secret-key-button.click-button: svg: use(href="#svg-store-icon")
            #remove-client-line
                #remove-client-button.click-button: svg: use(href="#svg-trash-icon")
                
