//- secretspacepage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #secretspacepage-content        
        h1 Secret Space
        h2 ID
        #id-line
        h2 Secret
        #secret-line
        h2 Type
        #type-line
        
        #secrets-container
            .secret-label blablabla
            .secret-content asdasdasdasdasdasdasdasasd
