//- secretspacepage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #hidden-secret-template
        .secret(secret-id="{{secretId}}")
            .secret-id {{secretId}}
            .secret-button-line
                .edit-secret-button.click-button:  svg: use(href="#svg-edit-icon")
                .delete-secret-button.click-button: svg: use(href="#svg-trash-icon")

    #secretspacepage-content        
        h1 Secrets Space
        
        #secrets-container
        #add-secret-button-line
            #add-secret-button.click-button: svg: use(href="#svg-add-icon")
        
        h2 Node ID
        #id-line
        h2 Secret Key
        #secret-line
        h2 Type
        #type-line

