// secretspacepage styles
secret-button-size = 20px
add-secret-button-size = 30px
handle-button-size = 25px
remove-client-button-size  = 40px

handle-type-icon-size = 50px

top-bottom-container-padding = 50px
elements-distance = 10px
elements-to-add-button-gap = 21px
elements-side-paddings = 10px

#hidden-secret-template
    display none
#hidden-subspace-template
    display none

#secretspacepage-content
    overflow: hidden
    box-sizing border-box
    // all svgs are buttons

#secrets-container
    border-top: solid 2px cd-foreground
    padding top-bottom-container-padding elements-side-paddings elements-to-add-button-gap elements-side-paddings
    margin-top 15px

.secret
    background-color alpha(cd-background, 0.8)
    border 2px solid cd-foreground
    margin-bottom 7px
    border-radius: 7px
    svg
        width: secret-button-size
        height: secret-button-size
    .click-button
        padding 7px

    .secret-id
        overflow hidden
        text-overflow: ellipsis

    .secret-button-line
        display flex
        justify-content: space-around
        max-width 260px
        margin auto

    // .edit-secret-button
    // .delete-secret-button
    // .copy-secret-button
    // .share-secret-button
    // .forward-secret-button


#add-secret-button-line
    overflow hidden
    display flex
    justify-content: space-around
    padding-bottom: top-bottom-container-padding
    max-width 120px
    margin auto
    svg
        width: add-secret-button-size
        height: add-secret-button-size
// #add-secret-button
// #share-new-secret-button.click-button



#foreign-subspaces
    border-top: solid 2px cd-foreground
    .subspace
        display flex
        align-items: center
        justify-content: space-between
        margin-bottom 7px
        svg
            width: handle-button-size
            height: handle-button-size

    .subspace-id
        background-color alpha(cd-background, 0.8)
        border 2px solid cd-foreground
        border-right none
        border-radius: 7px 0 0 7px
        width "calc(100% - %s)" % 60px
        box-sizing: border-box
        overflow hidden
        text-overflow: ellipsis
    .click-button
        padding 12px
                
#subspaces-container
    padding top-bottom-container-padding elements-side-paddings elements-to-add-button-gap elements-side-paddings

#add-subspace-button-line
    overflow hidden
    display flex
    justify-content: space-around
    padding-bottom: top-bottom-container-padding
    max-width 120px
    margin auto
    svg
        width: add-secret-button-size
        height: add-secret-button-size




#secretspacepage-details
    border-top: solid 2px cd-foreground
    padding 10px 10px 50px 10px

#secretspacepage-alias
    padding 7px
    background-color: element-background
    box-sizing: border-box
    overflow: hidden
    min-width 40px

#id-section,
#secret-key-section
    background-color: alpha(cd-background, 0.8)
    padding 12px

#id-line,
#secret-key-line
    padding-bottom 12px
    overflow hidden
    text-overflow: ellipsis

#id-handle-line,
#secret-key-handle-line
    display flex
    max-width 320px
    justify-content: space-around
    align-items: center
    margin auto
    .click-button
        padding 7px
        svg
            width: handle-button-size
            height: handle-button-size

#copy-id-button
    margin-left auto

#secret-key-handle-type-display
    margin-right auto
    svg
        width handle-type-icon-size
        height: handle-type-icon-size
        margin-bottom 5px

#remove-client-line
        margin-top: 15px

#remove-client-button
    svg 
        width remove-client-button-size
        height: remove-client-button-size

#secret-key-handle-unsafe-icon,
#secret-key-handle-floating-icon,
#secret-key-handle-signature-icon,
#secret-key-handle-unsafe-label,
#secret-key-handle-floating-label,
#secret-key-handle-signature-label
    display none

#qr-for-secret-key-button.click-button,
#copy-secret-key-button.click-button
    display none

.unsafe
    #secret-key-handle-unsafe-icon
        display block
    #secret-key-handle-unsafe-label
        display block
    #qr-for-secret-key-button.click-button,
    #copy-secret-key-button.click-button
        display block

.floating
    #secret-key-handle-floating-icon
        display block
    #secret-key-handle-floating-label
        display block

.signature
    #secret-key-handle-signature-icon
        display block
    #secret-key-handle-signature-label
        display block
