//- addsecretpopup structure
extends ../popupmodule/popup.pug
block content
    #storesecret-popup
        h2 Store Secret
        p#storesecret-id-line
        h2 As
        p#storesecret-as-line(contenteditable)
        h2 In 
        #storesecret-options-container