//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #settingspage-content        
        h2 Secret Manager Service
        input#secret-manager-input(type="text")
        h2 Keylogger Protection
        input#keylogger-protection-input(type="checkbox" value="protected")
