//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #settingspage-content        
        h2 Secret Manager Service
        input#secret-manager-input(type="text" value="https://secrets.extensivlyon.coffee")
